<main>
    <ng-container *ngIf="service !== null && id > -1; else waiting">
    <h1>{{service.name}}</h1>
    <img src="{{ service.imgUrl }}" alt="Example of {{ service.name }}">
    <p>${{ service.price }}</p>
    <ul>
       <li *ngFor="let description of service.descriptions">{{ description }}</li> 
    </ul>
    <button (click)="onCreateAppointment()" title="Schedule {{service.name}}" class="positiveButton">Create An Appointment</button>
</ng-container>
<ng-template #waiting>

</ng-template>
</main>