<header>
    <div>
        <div id="headerHeading">
            <a routerLink="/home" title="View home page">
                <img src="/assets/images/logo.JPG" alt="Interesting Pattern">
                <h1>Hansen Hair & Nails</h1>
            </a>
        </div>
        <p>(208)969-0270</p>
    </div>
    <div id="headerLinks">

        <a *ngIf="!getIsLoggedIn(); else loggedIn" routerLink="/login" title="Login to your account">Login</a>
        <ng-template #loggedIn>
            <a routerLink="/account" title="Manage your account">Your Account</a> | 
            <a routerLink="/cart" title="Manage your cart">Cart</a>
        </ng-template>
    </div>
</header>