/* 1. Screen independent */
a {
    color: #000000;
    text-decoration: none;
}

/* 2. Mobile Screen */
header {
    text-align: center;
}

/* 3. Large Screen */
@media (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: initial;
    }
}