/* 1. Screen independent */
h1 {
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

#headerHeading a {
    display: flex;
}

/* 2. Mobile Screen */
header {
    padding-left: .5em;
}

#headerHeading {
    margin-top: 1em;
}

img {
    width: 3em;
    height: 3em;
}

/* 3. Large Screen */
@media (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: initial;
        padding-left: 0;
        width: 80%;
        margin: auto;
    }

    #headerHeading {
        margin-top: 2em;
    }

    #headerHeading a {
        align-items: center;
    }

    img {
        width: 4em;
        height: 4em;
    }

    h1 {
        font-size: 4em;
    }
}