/* 1. Screen Independent */
body {
    margin: 0;
}

/* 2. Mobile Screens */
main {
    width: 90%;
    margin: auto;
    text-align: center;
}

/* 3. Large Screens */
@media (min-width: 800px) {
    main {
        width: 80%;
        margin: auto;
        text-align: inherit;
    }
}