@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* 1. Screen Independent */
body {
    margin: 0;
}

.positiveButton {
    padding: .5em;
    border-radius: .5em;
    background-color: #00A997;
    color: #000000;
    border: #000000 solid 1px;
    font-family: serif;
    cursor: pointer;
}

.negativeButton {
    padding: .5em;
    border-radius: .5em;
    background-color: #FF0000;
    color: #FFFFFF;
    border: #000000 solid 1px;
    font-family: serif;
    cursor: pointer;
}

.prettyBorder {
    border: solid 2px #00A997;
    border-radius: .3em;
}

.error {
    color: #FF0000;
}

/* 2. Mobile Screens */
main {
    width: 90%;
    margin: auto;
    text-align: center;
}

/* 3. Large Screens */
@media (min-width: 800px) {
    main {
        width: 80%;
        margin: auto;
        text-align: inherit;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
