/* 1. Screen Independent */
ul {
    list-style: none;
    padding: 0;
}

button {
    padding: .5em;
    border-radius: .5em;
    background-color: #00A997;
    color: #000000;
    border: #000000 solid 1px;
    font-family: serif;
}

/* 2. Mobile Screens */
h2 {
    margin-bottom: .5em;
}

button {
    font-size: 1em;
}

a {
    text-decoration: none;
}

.service img {
    max-width: 100%;
}

/* 3. Large Screens */
@media (min-width: 800px) {
    main {
        text-align: center;
    }

    h1 {
        text-align: initial;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3em;
        row-gap: 3em;
    }

    li {
        margin: 0;
    }

    h1 {
        font-size: 3.5em;
    }

    h2, button {
        text-align: center;
    }

    h2 {
        font-size: 2.5em;
    }

    button {
        font-size: 1.5em;
    }
}