<nav>
  <ul id="mainList">
    <li appExpandSublist>
      <a routerLink="/home" routerLinkActive="active" title="View home page">Home</a>
      <ul class="sublist">
        <li><a title="View offered services within home page" (click)="onSublist('services')">Services</a></li>
        <li><a title="View offered products within home page" (click)="onSublist('products')">Products</a></li>
      </ul>
    </li>
    <li><a routerLink="/appointments" routerLinkActive="active" title="Manage appointments & services">Appointments</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" title="View contact us page">Contact Us</a></li>
  </ul>
</nav>
